@_width: 100%;
@_height: 20vh;
@_surplus_height:70vh;
body {
  background: url(./../../img/bg.jpg) no-repeat;
  background-size:100% 100%;
}
._header {
  width: @_width;
  height: @_height;
}

._left{
	height: @_surplus_height;

}

._right{
	height: @_surplus_height;
}

._footer{
 	position: fixed;
 	bottom: 0;
 	width: @_width;
 	height:@_height - 10;
}

._c1{
	padding: 10px;

}